* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  font-size: 1.2em;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
}

.timer {
  overflow: hidden;
  transform: scale(1.5);
  padding: 2em 2em;

  border: 2px solid #1abc9c;
  border-radius: 0.5em;
  background: #dfe6e9;
  box-shadow: 0 0 1em 0.05em rgba(0, 0, 0, 0.3);
}

.timer-display {
  display: flex;
  justify-content: space-between;

  font-size: 2em;
  margin: 1.5em 0;
}

.timer__display {
  background: #95a5a6;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: transform 350ms ease;
}

.timer__heading {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button.timer__increment {
  background: #2ecc71;
}

button.timer__decrement {
  background: #e74c3c;
}

.timer__controller {
  display: flex;
  justify-content: space-between;
}

.timer__reset {
  background: #e74c3c;
}

.timer__pause {
  background: #f1c40f;
}

.timer__start {
  background: #3498db;
}

.btn {
  border: 0.2em solid inherit;
  cursor: pointer;
  padding: 1em 1.5em;
  color: #fff;

  border-radius: 0.2em;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;

  transition: all 250ms ease;
}

.btn:hover {
  color: #000;
}

.timer__indicator-bar {
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background: #341f97;

  transform-origin: bottom left;
}

.fill-bar {
  animation: fillBar linear;
}

@keyframes fillBar {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}
