* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  font-size: 1.2em;
}

input:focus {
  outline: none;
}

/* 
#root {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form-control,
select {
  border: 1px solid rgba(75, 67, 67, 0.5);
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;

  transition: transform 200ms ease;
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: 0 0 5px 2px rgba(0, 154, 243, 0.5);
  transform: scaleX(1.05);
}

.form-container {
  width: 40%;
  padding: 50px 50px;
  border: 3px solid #d3d0d0;
  border-radius: 50px;
}

button {
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
}

.gender,
.skills {
  margin-top: 10px;
}

.radio {
  margin-right: 3px;
}

.radio ~ .radio {
  margin-left: 5px;
}

.greet {
  width: 50vw;
}

.terms {
  margin-top: 20px;
}

.terms > input {
  margin-right: 3px;
} */

/* Sign-up from*/

:root {
  --container-color: #ecf0f1;
  --form-bg-color: #dfe6e9;

  --primary-color: #2980b9;
  --error-color: #c0392b;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.2em 1.5em;
}

form {
  max-width: 70em;
  background: var(--form-bg-color);
  padding: 1.5em 1.2em;
}

.text-group {
  position: relative;
  margin-bottom: 10px;
}

.text-input {
  color: rgba(0, 0, 0, 0.8);
  background: transparent;

  padding: 0.5em 0.5em;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.fas {
  color: var(--primary-color);

  position: absolute;
  top: 0;
  right: 0;
}

label {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 3px;
  left: 8px;
  transition: all 200ms ease;
}

.text-input-focused ~ label {
  color: var(--primary-color);
  font-size: 12px;
  background: var(--form-bg-color);

  top: -8px;
}

.names {
  display: flex;
}

.names > * ~ * {
  margin-left: 1em;
}

#mail {
  width: 100%;
}
